/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
/* ul li{list-style: none;} */
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


div {
    /* border: solid black 1px; */
}

.wrapper {
	color: white;
    background-color: rgb(36,144,190);
    display: grid;
    grid-template-columns: 30% 70%;
    width: 50%;
	margin-left: auto;
	margin-right: auto;
	min-width: 600px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.photo {
	height: 150px;
	min-width: 150px;
}
.photo1 {
	overflow: hidden;
    width: 120px;
	height: 120px;
	border-radius: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	border: white solid 3px;
}
img {
	width: 100%;
}
.head {

}
h1 {
	font-size: xx-large;
	margin: 15px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.headParagraf {
	color: black;
	line-height: 20px;
	font-size: 18px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#phrase {
	color: black;
	font-size: 32px;
}
h2 {
	color: white;
	font-size: large;
	margin: 10px;
}
.aside {
	color: black;
	background: linear-gradient(#5D80A5, #2D3E50);
	padding-top: 10px;
}
.sideBar {

}
.Contact {
	display: grid;
	grid-template-columns: 20% 80%;
	padding: 5px;
}
.ContactIn {
	padding: 10px;
}
a {
	color: black;
}

.main {
	background: linear-gradient(#5D80A5, #2D3E50);
	margin-left: 5px;
	line-height: 18px;
	padding: 5px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p {
	margin-left: 10px;
}

.progress {
	margin: 10px;
	background-color: white;
   /* background: -moz-linear-gradient(top, #333, #999); /* Fx 3.6+ */
   /* background: -webkit-linear-gradient(top, #333, #999); /* Chrome 10+,Safari 5.1+ */
   /* background: -o-linear-gradient(top, #333,#999); /* Opera 11.10+ */
   /* background: -ms-linear-gradient(top, #333, #999); /* IE10+ */
   /* background: linear-gradient(to bottom, #333, #999); /* W3C */
   /* border: 1px solid #333; /* Рамка */
	height: 10px; /* Высота */
	width: 80%;
    border-radius: 10px; /* Радиус скругления */
    position: relative; /* Относительное позиционирование */
    overflow: hidden; /* Прячем ненужную тень */
}
.progress::before{
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    height: 18px; /*width: 50%; */
    background: #5bc1fe; /* Для старых браузеров */
    background: -moz-linear-gradient(top, #5bc1fe, #018ef2 50%, #57befd); /* Fx 3.6+ */
    background: -webkit-linear-gradient(top, #5bc1fe, #018ef2 50%, #57befd); /* Chrome 10+,Safari 5.1+ */
    background: -o-linear-gradient(top, #5bc1fe,#018ef2 50%,#57befd); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5bc1fe, #018ef2 50%, #57befd); /* IE10+ */
    background: linear-gradient(to bottom, #5bc1fe,#018ef2 50%, #57befd); /* W3C */
    border: 1px solid #008DF2; /* Рамка */
    box-shadow: 3px 0 3px rgba(0,0,0,0.5); /* Тень справа */
   }
   #ArchiCAD::before {
	   width: 80%;
   }
   #SketchUp::before {
	   width: 70%;
   }
   #dsMAX::before {
	   width: 50%;
   }
   #Photoshop::before {
	   width: 70%;
   }
   #DIALux::before {
	   width: 60%;
   }
   .languages {
	   display: grid;
	   grid-template-columns: 60% 40%;
   }
   .languagesIn {
	   padding: 5px;
   }
   .iconWord {
	   display: grid;
	   grid-template-columns: 10% 90%;
	   padding: 15px;
   }
  .sideImg {
	   width: 20px;
	   margin-top: 10px;
   }
   ul, li {
	   margin-left: 50px;
	   margin-top: 10px;
   }



   div.miniones {
    position: relative;
    bottom: -20%;
    right: -70%;
  }
  @keyframes bouncingMiniones{
    0%  { bottom: -20%; box-shadow: 0 0 5px rgba(0,0,0,0); }
    100% { bottom: -12%; box-shadow: 0 50px 50px rgba(0,0,0,0); }
  }
  .miniones {
    animation: bouncingMiniones 0.5s cubic-bezier(0.1,0.25,0.1,1) 0s infinite alternate both;
      width: 100px;
  }